*{
    box-sizing: border-box;
}
.O-M{
    font: 30px bold;
    font-family: Roboto , sans-serif;
}
#navbar-header{
    background-color: gray;
    border-radius: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0px ;
    border-radius: 0px ;
}
#c-name{
    color:black;
    font-family: Roboto , sans-serif;
    font-size: 25px;
}
.qwe{
    background-color: grey;
    height:1000px;
    color: black;
}
#one{
    height: 70px;
    border-bottom: 2px solid black;
}
h3{
    padding: 10px;
}
p{
    padding: 15px;
}
.button.navbar-toggle, .icon-bar {
    border: 2px solid #050505;
}

/** desktop **/
@media (min-width: 992px){
    .col-md-12{
        width: 100%;
    }
}
/** tablet **/
@media (min-width: 768px) and (max-width: 991px){
    .col-sm-12{
        width: 100%;
    }
}
/** mobile **/
@media (max-width: 767px){
    .col-xs-12{
        width: 100%;
    }
    #collapsable-nav{
        background-color: white;
}